image.xml

<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:padding="5dp" >

    <ImageView
        android:id="@+id/img"
        android:layout_width="match_parent"
        android:layout_height="wrap_content" />

</FrameLayout>



***java class files******

public class ContentPageActivity extends Activity implements OnClickListener{

private ViewGroup mImgLayout;
@Override
	protected void onCreate(Bundle savedInstanceState) {
		super.onCreate(savedInstanceState);
		setContentView(R.layout.activity_post_detail);
		
		mImgLayout = (ViewGroup)findViewById(R.id.content_page_info_imgcontainer);
		mBitmapUtils = new BitmapUtils(getApplicationContext());
		postList = (PostList) getIntent().getSerializableExtra("comm");
    if (postList.pet_imgs == null || postList.pet_imgs.size() == 0) {
			mImgLayout.setVisibility(View.GONE);
		}else {
			addPetImgs(mImgLayout,postList.pet_imgs);
		}

	}
	
	private void addPetImgs(ViewGroup imgContainer, List<String> imgUrls) {
		LayoutInflater inflater = LayoutInflater.from(this);
		for (String imgUrl : imgUrls) {
			View view = inflater.inflate(R.layout.v_petimgs, null);
			ImageView imgView = (ImageView) view.findViewById(R.id.img);
			imgContainer.addView(view);
			mBitmapUtils.display(imgView, imgUrl, new BitmapLoadCallBack<View>() { //接口回调，处理图片等比例缩放

				@Override
				public void onLoadCompleted(final View container, String uri, final Bitmap bitmap, BitmapDisplayConfig config,
						BitmapLoadFrom from) {
					new Handler(){
						public void handleMessage(android.os.Message msg){
							ImageView imgView = (ImageView) container;
							imgView.setScaleType(ScaleType.FIT_XY);
							imgView.setImageBitmap(bitmap);
							int imgWidth = imgView.getWidth();
							int bitmapWidth = bitmap.getWidth();
							int bitmapHeight = bitmap.getHeight();
							int imgHeight = (int) (1f*bitmapHeight*imgWidth/bitmapWidth);
							FrameLayout.LayoutParams params = (FrameLayout.LayoutParams) imgView.getLayoutParams();
							params.height = imgHeight;
							imgView.setLayoutParams(params);

						};
					}.sendEmptyMessageDelayed(0, 100);   // 延迟100毫秒执行，解决有时图片不显示的问题
				}

				@Override
				public void onLoadFailed(View container, String uri, Drawable drawable) {

				}
			});
		}
	}
	
	
	}
